.generator-view {
  background-color: var(--white);
  border-radius: var(--border-radius);
  padding: var(--spacing-lg);
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
  gap: var(--spacing-lg);
}

.generator-prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.generate-btn {
  margin-top: var(--spacing-md);
  padding: var(--spacing-sm) var(--spacing-lg);
  background-color: var(--accent-color);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1rem;
}

.generate-btn:hover {
  border: 1px solid var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);
}

.task-subject-title {
  margin-bottom: var(--spacing-lg);
}