.task-card {
  background: var(--bg-light);
  padding: var(--spacing-lg);
  border-radius: var(--border-radius);
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.status-badge {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius);
  font-size: 0.6rem;
}

.status-badge.learned {
  background: #00ffd5;
  color: black;
}

.status-badge.repeat {
  background: var(--primary-color);
  color: white;
}

.task-question {
  font-size: 1.8rem;
  margin: var(--spacing-lg)  0;
  color: var(--text-main);
}

.reveal-btn {
  background: var(--primary-color);
  color: white;
  padding: var(--spacing-sm) var(--spacing-lg);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: bold;
}

.solution-section {
  background: white;
  padding: var(--spacing-lg);
  border-radius: var(--border-radius);
  margin: var(--spacing-lg) 0;
  text-align: left;
}

.answer-box {
  background: var(--white);
  color: var(--primary-color);
  padding: var(--spacing-lg);
  border-radius: var(--border-radius);
  border: 2px dashed var(--primary-color);
  margin-bottom: var(--spacing-lg);
}

.explain-box {
  font-style: italic;
  padding: var(--spacing-lg);
  border-radius: var(--border-radius);
  background: var(--bg-light);
  margin-bottom: var(--spacing-lg);
}

.action-buttons {
  display: flex;
  width: 100%;
  gap: var(--spacing-md);
  justify-content: flex-end;
}

.btn-review,
.btn-learned,
.btn-next {
  padding: var(--spacing-sm) var(--spacing-lg);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
}

.btn-review {
  background: var(--primary-color);
  color: white;
}
.btn-learned {
  background: #00ffd5;
  color: white;
}

.btn-next {
  background: var(--accent-color);
  color: white;
}

.btn-next:hover {
  background: transparent;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.btn-review:hover {
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-learned:hover {
  background: transparent;
  border: 1px solid #00ffd5;
  color: #00ffd5;
}
