.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: var(--border-radius);
  background-color: var(--white);
  margin-bottom: var(--spacing-lg);
  height: 96px;
}

.logo {
  height: 32px;
}
